@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
}

.container-flex {
  max-width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.container-grid {
  display: -ms-grid;
  display: grid;
}

.info-text {
  color: #888;
  font-size: 16px;
  font-weight: 300;
  line-height: 2rem;
}

.p-90 {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.p-90 .fill {
  height: 2px;
  width: 90%;
  background-color: #000;
}

.p-80 {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.p-80 .fill {
  height: 2px;
  width: 80%;
  background-color: #000;
}

.p-70 {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.p-70 .fill {
  height: 2px;
  width: 70%;
  background-color: #000;
}

h2 {
  font-size: 3.5rem;
  line-height: 3.8rem;
  font-weight: 300;
  margin: 20px 0;
}

.welcome-text {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  font-weight: 300;
  margin-bottom: 20px;
}

.header {
  position: absolute;
  width: 100%;
  padding: 20px;
}

.header #toggle {
  display: none;
}

.header .main-heading {
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 2rem;
  line-height: 2rem;
  color: #333;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 1px;
}

.header .nav-items {
  padding: 10px 0;
}

.header .nav-items .nav-items__child {
  padding: 0 15px;
  color: #666;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.header .nav-items a:hover {
  color: #E3AE57;
}

.header .hamburger {
  padding-top: 0.8rem;
  color: #E3AE56;
  font-size: 3rem;
  font-weight: 400;
  text-align: right;
  display: none;
}

.section1 {
  width: 100%;
}

.section1 .container-grid {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.section1 .container-grid .col-0 {
  background: url("../media/home-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 100vh;
}

.section1 .container-grid .col-1 {
  background: #f1e2d7;
}

.section1 .container-grid .col-1 .hero-text {
  padding: 210px 50px;
}

.section1 .container-grid .col-1 .hero-text .welcome-text {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 6px;
}

.section1 .container-grid .col-1 .hero-text h2 {
  font-size: 3.5rem;
  line-height: 3.8rem;
  font-weight: 300;
  margin: 20px 0;
}

.section1 .container-grid .col-1 .hero-text h2 span {
  font-weight: 400;
}

.section1 .container-grid .col-1 .hero-text .button {
  margin-top: 40px;
  border: 3px solid #141211;
  border-radius: 50px;
  color: #141211;
  font-size: 1rem;
  font-weight: 400;
  background-color: transparent;
  letter-spacing: 1.5px;
  padding: 1rem 3rem;
  text-transform: uppercase;
}

.section2 {
  width: 100%;
}

.section2 .container-grid {
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
}

.section2 .container-grid .col-2 {
  padding: 30px 30px 15px 30px;
  background-color: #fff;
}

.section2 .container-grid .col-2 .hero-text h2 {
  font-size: 3.5rem;
  line-height: 3.8rem;
  font-weight: 300;
  margin: 20px 0;
}

.section2 .container-grid .col-2 .hero-text .welcome-text {
  font-size: 1.3rem;
  color: #E3AE56;
  letter-spacing: 0.5px;
  font-weight: 300;
  margin-bottom: 20px;
}

.section2 .container-grid .col-2 .hero-text .info-text {
  padding-bottom: 20px;
}

.section2 .container-grid .col-3 {
  background-image: url("../media/about-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
}

.section2 .container-grid .col-4 {
  background-color: #E3AE56;
  padding: 30px 30px;
}

.section2 .container-grid .col-4 .hero-text {
  color: #fff;
}

.section2 .container-grid .col-4 .hero-text h2 {
  font-size: 3.5rem;
  line-height: 3.8rem;
  font-weight: 300;
  margin: 20px 0;
}

.section2 .container-grid .col-4 .hero-text .welcome-text {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  font-weight: 300;
  margin-bottom: 20px;
}

.section2 .container-grid .col-4 .hero-text .progress-bar {
  padding: 8px 0;
}

.section2 .container-grid .col-4 .hero-text .progress-bar .container-flex {
  max-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section2 .container-grid .col-4 .hero-text .progress-bar span {
  color: #000;
  font-size: 1.3rem;
}

.section2 .container-grid .col-4 .hero-text .progress-bar .right {
  text-align: right;
  color: #fff;
}

.section3 .container-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section3 .container-grid .col {
  padding: 50px 35px;
  text-align: center;
  color: #fff;
}

.section3 .container-grid .col i {
  font-size: 3.3rem;
  margin-bottom: 20px;
}

.section3 .container-grid .col h3 {
  font-size: 2rem;
  line-height: 2.3rem;
  margin: 15px 0;
}

.section3 .container-grid .col p {
  margin-top: 10px;
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 300;
}

.section3 .container-grid .col-3-1 {
  background-color: #E3AE56;
}

.section3 .container-grid .col-3-2 {
  background-color: #E9724C;
}

.section3 .container-grid .col-3-3 {
  background-color: #000;
}

.section3 .container-grid .col-3-4 {
  background-color: #fff;
  color: #000;
}

.section4 .container-grid {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  color: #fff;
  font-weight: 300;
}

.section4 .container-grid .col4-img {
  background: url("../media/experience-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.section4 .container-grid .col4 {
  padding: 30px 45px;
  background-color: #E9724C;
}

.section4 .container-grid .col4 .welcome-text {
  padding-bottom: 20px;
}

.section4 .container-grid .col4 .experience-list {
  font-size: 2rem;
  line-height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section4 .container-grid .col4 .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.section4 .container-grid .col4 .list p {
  font-size: 1.2rem;
}

.section4 .container-grid .col4 .experience-list i {
  font-size: 3.3rem;
  margin-right: 15px;
}

.section4 .container-grid .col4 .experience-list li span {
  padding: 0 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #633;
}

.section5 .container-grid .col-4-5 {
  background-color: #E3AE56;
}

.section5 .container-grid .col4-img-2 {
  background: url("../media/education-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.section6 .container-grid {
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
}

.section6 .container-grid .col-6-1 {
  background-color: #E9724C;
  padding: 30px 30px;
  color: #fff;
}

.section6 .container-grid .col-6-1 .input-text {
  padding: 20px 0;
  border: none;
  font-weight: 200;
  background-color: transparent;
  border-bottom: 1px solid #E3AE57;
  font-size: 1.5rem;
  margin-bottom: 20px;
  width: 100%;
}

.section6 .container-grid .col-6-1 ::-webkit-input-placeholder {
  color: #fff;
}

.section6 .container-grid .col-6-1 :-ms-input-placeholder {
  color: #fff;
}

.section6 .container-grid .col-6-1 ::-ms-input-placeholder {
  color: #fff;
}

.section6 .container-grid .col-6-1 ::placeholder {
  color: #fff;
}

.section6 .container-grid .col-6-1 .send-button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 8rem;
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
  font-weight: 200;
  border-radius: 50px;
}

.section6 .container-grid .col-6-img {
  background: url("../media/contact-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.section6 .container-grid .col-6-3 {
  background-color: #000;
  padding: 30px;
  color: #fff;
}

.section6 .container-grid .col-6-3 h2 {
  font-size: 2rem;
}

.section6 .container-grid .col-6-3 .welcome-text {
  color: #666;
  font-size: 1.3rem;
  line-height: 2.2rem;
  margin-bottom: 30px;
}

.section6 .container-grid .col-6-3 .contact-list i {
  margin-right: 10px;
  color: #888;
}

.section6 .container-grid .col-6-3 .contact-list li {
  font-size: 1.5rem;
  color: rgba(227, 173, 86, 0.945);
  line-height: 3.5rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.section6 .container-grid .col-6-3 li:first-child {
  color: #888;
}

.section7 .container-grid {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
  width: 100%;
  background-color: #E9724C;
}

.section7 .container-grid .gmap_canvas {
  margin: 0 auto;
  height: 345px;
  width: 70%;
  -webkit-box-shadow: 1px 0px 30px 0px rgba(0, 0, 0, 0.452);
          box-shadow: 1px 0px 30px 0px rgba(0, 0, 0, 0.452);
}

.footer {
  padding: 11rem 0;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
  color: #888;
}

.footer .footer-text {
  font-weight: 300;
  line-height: 2rem;
  padding-bottom: 4rem;
}

.footer .footer-text span {
  color: #E3AE56;
}

.footer .social-list i {
  padding: 0 20px;
}

@media all and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .sec .container-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header {
    position: fixed;
    background-color: #fff;
    padding: 1.5rem;
  }
  .header .container-flex .main-heading {
    margin-left: -40px;
  }
  .header .container-flex .nav-items {
    display: none;
  }
  .header .hamburger {
    display: block;
  }
  .section1 .container-grid .col-0 {
    margin-top: 3rem;
  }
  .section1 .container-grid .col-1 .hero-text {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
/*# sourceMappingURL=style.css.map */